<section id="section-contact p-5">
    <div class="back-contain">
        <div class="container">
            <div class="row contact-img">
                <div class="col-xs-12 col-sm-6">
                    <h2 class="head">get in touch</h2>
                    <div>
                        <h3 class="text-header">head office</h3>
                        <p>Location: Gairidhara, Kathmandu, Nepal</p>
                        <p>Phone :+977-9812345678 </p>
                        <p>Email : info@batasagro.com</p>
                        <p>Website : www.batasagro.com</p>
                    </div>
                    <div>
                        <h3 class="text-header">corporate office</h3>
                        <p>Location: Gairidhara, Kathmandu, Nepal</p>
                        <p>Phone :+977-9812345678 </p>
                        <p>Email : info@batasagro.com</p>
                        <p>Website : www.batasagro.com</p>
                   </div>
                </div>
                <div class="col-sm-6 images">
                    <img src="/assets/images/Map.png" alt="image" class="img-fluid"> 
                </div>
            </div>   
        </div>
    </div>
</section>
