<section id="home">
    <div class="container pt-4">
        <div class="row image1 align-items-center justify-content-center">
            <div class="col-xs-12 col-sm-6">
                <h2 class="text">brining farmers</h2>
                <h2 class="text">and customers</h2>
                <h2 class="text">together</h2>
                <p style="margin-left: 18px;">Access Farmers and their products from all over Nepal.</p>
                <div class="button-group">
                    <a href="#">
                        <img src="/assets/images/google-play-badge.png" alt="logo" class="img-responsive"/>
                    </a>
                    <a href="#">
                        <img src="/assets/images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" alt="logo" class="img-responsive"/>
                    </a>
                    <h4 class="p-text">coming soon</h4>
                </div>
            </div>
            <div class="logo col-xs-12 col-sm-6">
                <img src="/assets/images/fresh-vegetables-salad.png" alt="logo" class="logo-veg"/>
                <img src="/assets/images/2@2x.png" alt="logo" class="logo-mob"/>
            </div>
        </div>
    </div>
</section>

<section class="section-products bg-light">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xs-12 col-sm-6">
                <img src="/assets/images/iPhone 12 Pro Max – 1_iphone12black_portrait-1@2x.png" alt="logo" class="prod-img"/>
                <img src="/assets/images/Subtraction 2-1.png" alt="logo" class="product-img"/>
            </div>
            <div class="col-xs-12 col-sm-6 align-items-center">
                 <h2 class="text-prod">a single platform for</h2>
                 <h2 class="text-prod">multiple farm products</h2>
                 <div class="row prod-image">
                        <div class="col-6 col-sm-3">
                            <img src="/assets/images/Rectangle 2671.svg" alt="Vegetable" width="120" height="120" class="prod-rect">
                            <img src="/assets/images/Ellipse 2.png" alt="Vegetable" width="90" height="90" class="prod-item">
                            <h4 style="margin-top:20px; margin-left: 10px;">Vegetable</h4>
                        </div>
                        <div class="col-6 col-sm-3">
                            <img src="/assets/images/Rectangle 2671.svg" alt="Vegetable" width="120" height="120" class="prod-rect">
                            <img src="/assets/images/Ellipse 3.png" alt="Fruits" width="90" height="90" class="prod-item">
                            <h4 style="margin-top:20px; margin-left: 30px;">Fruits</h4>
                        </div>
                        <div class="col-6 col-sm-3">
                            <img src="/assets/images/Rectangle 2671.svg" alt="Vegetable" width="120" height="120" class="prod-rect">
                            <img src="/assets/images/Ellipse 4.png" alt="Grains" width="90" height="90" class="prod-item">
                            <h4 style="margin-top:20px; margin-left: 30px;">Grains</h4>
                        </div>
                        <div class="col-6 col-sm-3">
                            <img src="/assets/images/Rectangle 2671.svg" alt="Vegetable" width="120" height="120" class="prod-rect">
                            <img src="assets/images/Ellipse 5.png" alt="Dairy" width="90" height="90" class="prod-item">
                            <h4 style="margin-top:20px; margin-left: 30px;">Milks</h4>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>

<section id="section-update">
    <div class="container">
        <div class="row image1 align-items-center justify-content-center">
            <div class="col-xs-12 col-sm-6">
                <div>
                    <h2 style="color: #3B9914; text-transform: uppercase; font-size: 3rem; font-weight: bold; margin-left: 5%;">view live update</h2>
                    <h2 style="color: #3B9914; text-transform: uppercase; font-size: 3rem; font-weight: bold; margin-left: 5%;">of market prices</h2>
                    <span style="margin-left: 5%;">Make strategic purchase with live update of price and products</span>
                </div>
                <img src="/assets/images/Mask Group 2.png" alt="images" class="img-fluid">
            </div>
            <div class="col-xs-12 col-sm-6 text-center" style="margin-bottom: 10%;">
                <img src="/assets/images/iPhone 12 Pro Max – 1_iphone12black_portrait-1@2x.png" alt="img" class="live-update">
                <img src="assets/images/Subtraction 2@2x.png" alt="image" class="live-img">
                <img src="/assets/images/Navigation-1.png" alt="image" class="logo-nav">
            </div>
        </div>
    </div>
</section>

<section class="section-order bg-light">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xs-12 col-sm-6">
                <img src="/assets/images/2-2@2x.png" alt="image" class="track-order"/>
            </div>
            <div class="text-topic col-12 col-sm-6">
                <h2 class="texts">track your order</h2>
                <h5 class="text-topics mt-4">Get your purchase order delivered anywhere from Nepal.</h5>
                <div class="container">
                    <div class="list-order d-flex mt-4" style="font-size:1.5rem; ">
                        <ul>
                            <li>Kathmandu</li>
                            <li>Chitwan</li>
                            <li>Dharan</li>
                        </ul>
                        <ul>
                            <li>Pokhara</li>
                            <li>Butwal</li>
                            <li>Janakpur</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section-features">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 text-center mb-3 mt-3">
                <h2 style="font-size:2rem; color: #3B9914; text-transform: uppercase;">how to use app and features?</h2><br>
                <span>Simple tutorials to get you started with our App</span>
            </div>
            <div class="videoimg col-xs-12 col-sm-6 mb-3">
                <iframe height="500" width="550"
                src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=1"></iframe>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="back-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>kisan trader</th>
                                <th>kisan farmer</th>
                                <th>kisan delivery</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2">How to register as a trader</td>
                                <td>5: 00</td>
                            </tr>
                            <tr>
                                <td colspan="2">How to register as a trader</td>
                                <td>5: 00</td>
                            </tr>
                            <tr>
                                <td colspan="2">How to register as a trader</td>
                                <td>5: 00</td>
                            </tr>
                            <tr>
                                <td colspan="2">How to register as a trader</td>
                                <td>5: 00</td>
                            </tr>
                            <tr>
                                <td colspan="2">How to register as a trader</td>
                                <td>5: 00</td>
                            </tr>
                            <tr>
                                <td colspan="2">How to register as a trader</td>
                                <td>5: 00</td>
                            </tr>
                            <tr>
                                <td colspan="2">How to register as a trader</td>
                                <td>5: 00</td>
                            </tr>
                            <tr>
                                <td colspan="2">How to register as a trader</td>
                                <td>5: 00</td>
                            </tr>
                            <tr>
                                <td colspan="2">How to register as a trader</td>
                                <td>5: 00</td>
                            </tr>
                            <tr>
                                <td colspan="2">How to register as a trader</td>
                                <td>5: 00</td>
                            </tr>
                            <tr>
                                <td colspan="2">How to register as a trader</td>
                                <td>5: 00</td>
                            </tr>
                            <tr>
                                <td colspan="2">How to register as a trader</td>
                                <td>5: 00</td>
                            </tr>
                            <tr>
                                <td colspan="2">How to register as a trader</td>
                                <td>5: 00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-download bg-light">
    <div class="container">
        <div class="row image1">
            <div class="col-xs-12 col-sm-6" style="margin-top:10%; margin-bottom: 10%">
                <div>
                    <h2 class="text-head">Download</h2>
                    <h2 class="text-head">today</h2>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-3">
                        <div style="color:#3B9914; margin-left: 10px; font-size: 1rem;">Kisan Trader</div>
                        <div>
                            <a href="#">
                                <img src="/assets/images/google-play-badge.png" alt="" class="img-fluid" >
                            </a>
                       </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div style="color:#3B9914; margin-left: 12px; font-size: 1rem;">Kisan Farmer</div>
                        <div>
                          <a href="#">
                            <img src="/assets/images/google-play-badge.png" alt="logo" class="img-fluid"/>
                          </a>
                         </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div style="color:#3B9914; margin-left: 12px; font-size: 1rem;">Kisan Delivery</div>
                        <div>
                            <a href="#">
                                <img src="/assets/images/google-play-badge.png" alt="logo"
                                class="img-fluid"/>
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div style="color:#3B9914; margin-left: 10px; font-size: 1rem;">Coming Soon</div>
                        <div style="padding-left: 10px;">
                            <a href="#">
                              <img src="/assets/images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg"
                                  alt="" class="img-fluid"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
                <img src="assets/images/2-1.png" alt="image" class="img-fluid" style="height:500px; width:650px;">
            </div>
        </div>
</section>
