<footer class="bg-dark pb-7">
  <div class="container">
    <div class="row pt-5">
      <div class="col-sm-2 mb-4">
        <div class="text-white">
          <h5 class="mb-3">Navigation</h5>
        </div>
        <div class="mb-3">
          <a
            routerLink="#"
            class="text-decoration-none text-white font-weight-light"
            >Home</a
          >
        </div>
        <div class="mb-3">
          <a
            routerLink="/about"
            class="text-decoration-none text-white font-weight-light"
            >About KisanBazar</a
          >
        </div>
        <div class="mb-3">
          <a
            routerLink="/carrer"
            class="text-decoration-none text-white font-weight-light"
            >Career</a
          >
        </div>
        <div class="mb-3">
          <a
            routerLink="/contactus"
            class="text-decoration-none text-white font-weight-light"
            >Contact Us</a
          >
        </div>
      </div>
      <div class="col-sm-2 mb-4">
        <div class="text-white">
          <h5 class="mb-3">Our Services</h5>
        </div>
        <div class="mb-3">
          <a
            routerLink="/services"
            class="text-decoration-none text-white font-weight-light"
            >Service Name</a
          >
        </div>
        <div class="mb-3">
          <a
            routerLink="/services"
            class="text-decoration-none text-white font-weight-light"
            >Service Name</a
          >
        </div>
        <div class="mb-3">
          <a
            routerLink="/services"
            class="text-decoration-none text-white font-weight-light"
            >Service Name</a
          >
        </div>
        <div class="mb-3">
          <a
            routerLink="/services"
            class="text-decoration-none text-white font-weight-light"
            >Service Name</a
          >
        </div>
      </div>
      <div class="col-sm col-md-2 mb-4">
        <div class="text-white">
          <h5 class="mb-3">Others</h5>
        </div>
        <div class="mb-3">
          <a
            routerLink="#"
            class="text-decoration-none text-white font-weight-light"
            >Download</a
          >
        </div>
        <div class="mb-3">
          <a
            routerLink="#"
            class="text-decoration-none text-white font-weight-light"
            >Terms & Condition</a
          >
        </div>
        <div class="mb-3">
          <a
            routerLink="#"
            class="text-decoration-none text-white font-weight-light"
            >Privacy Policy</a
          >
        </div>
      </div>
      <div class="col-sm-2 col-md-3 mb-3">
        <div class="text-white">
          <h5 class="mb-3">Subscribe to AdobeXD via Email</h5>
        </div>
        <div class="mb-3">
          <p class="text-decoration-none text-muted font-weight-light">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia
          </p>
        </div>
        <div class="input-group mb-4">
          <input type="text" class="form-control" placeholder="Email" />
          <button class="btn btn-light btn-lg" type="button">Subscribe</button>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 mb-3 p-4">
        <div class="back-container">
          <img
            src="assets/images/Logo 2-1.svg"
            alt="image"
            class="img-responsive"
          />
          <div class="text-line">
            <div class="mb-3">
              <h3 class="text-uppercase">head office</h3>
            </div>
            <div class="mb-3">
              <p>Location: Gairidhara, Kathmandu, Nepal</p>
            </div>
            <div class="mb-3">
              <p>Phone :+977-9812345678</p>
            </div>
            <div class="mb-3">
              <p>Email : info@batasagro.com</p>
            </div>
            <div class="mb-3">
              <p>Website : www.batasagro.com</p>
            </div>
          </div>
        </div>
      </div>
      <p class="text-end text-white">© Kisan Bazar 2021</p>
    </div>
  </div>
  <div class="mobileShow">
    <h2 style="text-transform: uppercase">get connected</h2>
    <i class="bi bi-facebook"></i>
    <i class="bi bi-instagram"></i>
  </div>
</footer>
