<section class="section top-nav">
    <div>
        <img src="/assets/images/Rectangle 2691.png" alt="image" class="img">
    </div>
</section>
<section class="section vaccancy_contain">
   
<section class="banner-container">
    <h2 style="margin-left: 35px; margin-top: 10px; font-weight: bold;">Job Vacanies</h2>
        <div class="grid-container">
            <div>
                <h3 class="text">Data analyst</h3>
                <h5 style="margin-left: 20px; font-size: 18px;">Kisan Frader</h5>
                <h5 style="margin-left: 20px; font-size: 18px;">Full Time</h5>
                <h5 style="margin-left: 20px; font-size: 18px;">Kathmandu</h5>
                <p class="right">More Details<i class="fa fa-angle-right" aria-hidden="true"></i>
                </p>

            </div>
            <div>
                <h3 class="text">Data analyst</h3>
                <h5 style="margin-left: 20px; font-size: 18px;">Kisan Frader</h5>
                <h5 style="margin-left: 20px; font-size: 18px;">Full Time</h5>
                <h5 style="margin-left: 20px; font-size: 18px;">Kathmandu</h5>
                <p class="right">More Details <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </p>
            </div>
            <div>
                <h3 class="text">Data analyst</h3>
                <h5 style="margin-left: 20px;">Kisan Frader</h5>
                <h5 style="margin-left: 20px;">Full Time</h5>
                <h5 style="margin-left: 20px;">Kathmandu</h5>
                <p class="right">More Details<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
            </div>
            <div>
                <h3 class="text">Data analyst</h3>
                <h5 style="margin-left: 20px;">Kisan Frader</h5>
                <h5 style="margin-left: 20px;">Full Time</h5>
                <h5 style="margin-left: 20px;">Kathmandu</h5>
                <p class="right">More Details</p>
            </div>
            <div>
                <h4 class="text">Data analyst</h4>
                <h5 style="margin-left: 20px;">Kisan Frader</h5>
                <h5 style="margin-left: 20px;">Full Time</h5>
                <h5 style="margin-left: 20px;">Kathmandu</h5>
                <p class="right">More Details</p>
            </div>
            <div>
                <h3 class="text">Data analyst</h3>
                <h5 style="margin-left: 20px;">Kisan Frader</h5>
                <h5 style="margin-left: 20px;">Full Time</h5>
                <h5 style="margin-left: 20px;">Kathmandu</h5>
                <p class="right">More Details</p>
            </div>                      
        </div>
    </section>
</section>